@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#things{
    display: grid;
    grid-template-columns: 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw;
}
body{
   background-image:url('/img/vuedle_god_background.gif');
   background-color: #1d1328;
   background-size: cover;
   background-repeat: no-repeat;
}
.thing{
    margin: 8px;
    padding: 8px;
    border: 0.375vw solid black;
    background-color: white;
    width: 7vw;
    height: 7vw;
    text-align: center;
    transition: 0.5s;
}
img{
    height: 6vw;
    width: 6vw;
}
.thing:hover{
    border: 0.375vw solid rgb(54, 54, 54);
}
.thing:active{
    border: 0.375vw solid black;
    transition: 0.125s;
}
p{
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8vw;
}
#combine{
    display: grid;
    grid-template-columns: auto auto;
    position: absolute;
    left: 0; 
    right: 0; 
    top: 80vh;
    margin-left: auto; 
    margin-right: auto; 
}
#combining-thing-1{
    justify-self: right;
}
.combining-thing{
    margin: 8px;
    padding: 8px;
    border: 8px solid black;
    background-color: white;
    width: 7vw;
    height: 7vw;
    text-align: center;
}
#tutorial-button{
    border: 8px solid black;
    background-color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 1vw;
    color: black;
    padding: 8px;
    position: absolute;
    top: 85vh;
    left: 10vw;
}


h1{
    margin:64px;
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    text-align: center;
    color: white;
}
h2{
    margin:48px;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    text-align: center;
    color: white;
}
h3{
    margin:64px;
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    text-align: center;
    color: white;
}
#combo-list{
    margin-left: 38%;
    list-style-type: none;
}
li{
    padding: 16px;
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-size: 16px;
}