<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <meta charset="utf-8">
    <title>Vuedle God</title>
    <link rel="icon" type="image/ico" href="favicon.ico">
    <link rel="stylesheet" href="css/style.css">
    <meta name="description" content="Recreation of Doodle God in Vue">
  </head>

  <body>
    <div id="app">
      <div id="things">
        <div id="category-fire">
          <div v-for="thing in thingsList" v-if="thing.unlocked">
            <thing :thing-type="thing.thingType" :imgsrc="thing.imgsrc" v-if="thing.categoryFire"></thing>
          </div>
        </div>
        <div id="category-water">
          <div v-for="thing in thingsList" v-if="thing.unlocked">
            <thing :thing-type="thing.thingType" :imgsrc="thing.imgsrc" v-if="thing.categoryWater"></thing>
          </div>
        </div>  
        <div id="category-air">
          <div v-for="thing in thingsList" v-if="thing.unlocked">
            <thing :thing-type="thing.thingType" :imgsrc="thing.imgsrc" v-if="thing.categoryAir"></thing>
          </div>
        </div>
        <div id="category-earth">
          <div v-for="thing in thingsList" v-if="thing.unlocked">
            <thing :thing-type="thing.thingType" :imgsrc="thing.imgsrc" v-if="thing.categoryEarth"></thing>
          </div>
        </div>
        <div id="category-abstract">
          <div v-for="thing in thingsList" v-if="thing.unlocked">
            <thing :thing-type="thing.thingType" :imgsrc="thing.imgsrc" v-if="thing.categoryAbstract"></thing>
          </div>
        </div>
        <div id="category-plants">
          <div v-for="thing in thingsList" v-if="thing.unlocked">
            <thing :thing-type="thing.thingType" :imgsrc="thing.imgsrc" v-if="thing.categoryPlants"></thing>
          </div>
        </div>
        <div id="category-animals">
          <div v-for="thing in thingsList" v-if="thing.unlocked">
            <thing :thing-type="thing.thingType" :imgsrc="thing.imgsrc" v-if="thing.categoryAnimals"></thing>
          </div>
        </div>
        <div id="category-animals-2">
          <div v-for="thing in thingsList" v-if="thing.unlocked">
            <thing :thing-type="thing.thingType" :imgsrc="thing.imgsrc" v-if="thing.categoryAnimals2"></thing>
          </div>
        </div>
        <div id="category-humans">
          <div v-for="thing in thingsList" v-if="thing.unlocked">
            <thing :thing-type="thing.thingType" :imgsrc="thing.imgsrc" v-if="thing.categoryHumans"></thing>
          </div>
        </div>
      </div>
      <div id="combine">
        <combining-thing :selected-thing="selectedThingOne" :imgsrc="selectedThingOneImg" :key="selectedThingOne" id="combining-thing-1"></combining-thing>
        <combining-thing :selected-thing="selectedThingTwo" :imgsrc="selectedThingTwoImg" :key="selectedThingTwo" id="combining-thing-2"></combining-thing>
      </div>
      <a href="/tutorial.html" target="_blank" id="tutorial-button">Solutions Guide</a>
    </div>
    <script> 

    const snd_elementclick = new Audio('snd/element_click.wav');  //
    const snd_newelement_1 = new Audio('snd/new_element_v1.wav'); //
    const snd_newelement_2 = new Audio('snd/new_element_v2.wav'); //
    const snd_newelement_3 = new Audio('snd/new_element_v3.wav'); // Declare sound events
    const snd_no = new Audio('snd/no.wav');                       //
    const snd_oldelement_1 = new Audio('snd/old_element_v1.wav'); //
    const snd_oldelement_2 = new Audio('snd/old_element_v2.wav'); //
    const music = new Audio('snd/music.mp3');                     //

    music.loop = true

      Vue.component('thing', {
        props:['thingType', 'imgsrc'],

        template: 
        '<div class="thing" v-on:click="addThing(thingName, imgurl)">\
          <img :src="imgurl" alt="thing_img" width="128px" height="128px">\
          <p>{{thingName}}</p>\
          </div>',

        data: function(){
          return{
            imgurl: this.imgsrc,
            thingName: this.thingType,
          }
        },
        methods:{
          addThing: function(selectedThing, selectedThingImg){
            if(!app._data.lockout){
              if(app._data.selectedThingOne == ""){
                app._data.selectedThingOne = selectedThing;
                app._data.selectedThingOneImg = selectedThingImg;
                snd_elementclick.play(); //Starts music. Should only work once, which is good.
                music.play();
              }else{
                app._data.selectedThingTwo = selectedThing;
                app._data.selectedThingTwoImg = selectedThingImg;
                app._data.lockout = true;
                combineThings();
                setTimeout(function(){
                  app._data.selectedThingOne = "";
                  app._data.selectedThingOneImg = "/img/blank.png";
                  app._data.selectedThingTwo = "";
                  app._data.selectedThingTwoImg = "/img/blank.png";
                  app._data.lockout = false;
                }, 1500);
              }
            }
          },
        }
      });

      Vue.component('combining-thing',{
        props:['selectedThing', 'imgsrc'],

        template: 
        '<div class="combining-thing">\
          <img :src="imgurl" alt="combining_thing_img" width="128px" height="128px">\
          <p>{{thingName}}</p>\
          </div>',

        data: function(){
          return{
            imgurl: this.imgsrc,
            thingName: this.selectedThing,
          }
        },
      });


    function combineThings(){
      const thingCombo = app.selectedThingOne + app.selectedThingTwo;

      var newThing = null;
      switch(thingCombo){
        case 'FireEarth': case 'EarthFire':
          newThing = 'Lava'
          break;
        case 'LavaEarth': case 'EarthLava':
          newThing = 'Volcano'
          break;
        case 'AirEarth': case 'EarthAir':
          newThing = 'Dust'
          break;
        case 'EarthWater': case 'WaterEarth':
          newThing = 'Swamp'
          break;
        case 'AirFire': case 'FireAir':
          newThing = 'Energy'
          break;
        case 'AirWater': case 'WaterAir':
          newThing = 'Steam'
          break;
        case 'AirEnergy': case 'EnergyAir':
          newThing = 'Storm'
          break;
        case 'AirLava': case 'LavaAir':
          newThing = 'Stone'
          break;
        case 'FireWater': case 'WaterFire':
          newThing = 'Alcohol'
          break;
        case 'WaterWater':
          newThing = 'Ocean'
          break;
        case 'VolcanoBird': case 'BirdVolcano': case 'ReptileVolcano': case 'VolcanoReptile': case 'FishVolcano': case 'VolcanoFish': case 'MammalVolcano': case 'VolcanoMammal':
          newThing = 'Ash'
          break;
        case 'AirStone': case 'StoneAir':
          newThing = 'Sand'
          break;
        case 'SandFire': case 'FireSand':
          newThing = 'Crystal'
          break;
        case 'EnergySwamp': case 'SwampEnergy':
          newThing = 'Life'
          break;
        case 'StoneLife': case 'LifeStone':
          newThing = 'Egg'
          break;
        case 'SandLife': case 'LifeSand':
          newThing = 'Seeds'
          break;
        case 'EggEarth': case 'EarthEgg':
          newThing = 'Bird'
          break;
        case 'EggSwamp': case 'SwampEgg': case 'FishSwamp': case 'SwampFish':
          newThing = 'Reptile'
          break;
        case 'LifeSwamp': case 'SwampLife':
          newThing = 'Bacteria'
          break;
        case 'BacteriaSwamp': case 'SwampBacteria':
          newThing = 'Fish'
          break;
        case 'ReptileEarth': case 'EarthReptile':
          newThing = 'Mammal'
          break;
        case 'HumanMammal': case 'MammalHuman':
          newThing = 'Domestic'
          break;
        case 'FishOcean': case 'OceanFish':
          newThing = 'Whale'
          break;
        case 'SeedsEarth': case 'EarthSeeds':
          newThing = 'Tree'
          break;
        case 'SeedsSand': case 'SandSeeds':
          newThing = 'Cactus'
          break;
        case 'SeedsOcean': case 'OceanSeeds':
          newThing = 'Seaweed'
          break;
        case 'SeedsSwamp': case 'SwampSeeds':
          newThing = 'Moss'
          break;
        case 'TreeMammal': case 'MammalTree':
          newThing = 'Primate'
          break;
        case 'PrimateLife': case 'LifePrimate':
          newThing = 'Human'
          break;
        case 'HumanAlcohol': case 'AlcoholHuman':
          newThing = 'Drunk'
          break;
        case 'HumanBacteria': case 'BacteriaHuman':
          newThing = 'Disease'
          break;
        case 'HumanFire': case 'FireHuman': case 'HumanLava': case 'LavaHuman': case 'HumanVolcano': case 'VolcanoHuman':
          newThing = 'Corpse'
          break;
      }
      if(newThing != null){ //valid combination
        const thing = app.thingsList.find(o => o.thingType === newThing).unlocked
        app.thingsList.find(o => o.thingType === newThing).unlocked = true;
        if(thing == false) //new combination
        {
          const randNum = Math.floor(Math.random() * 3);
          switch(randNum){
            case 0:
              snd_newelement_1.play();
              break;
            case 1:
              snd_newelement_2.play();
              break;
            case 2:
              snd_newelement_3.play()
              break;
          }
        }else{ //old combination
          const randNum = Math.floor(Math.random() * 2);
          switch(randNum){
            case 0:
              snd_oldelement_1.play();
              break;
            case 1:
              snd_oldelement_2.play();
              break;
          }
        }
      }else{ //invalid combination
        snd_no.play();
      }
    }

      var app = new Vue({
        el: '#app',
        data:{
          selectedThingOne: '', //Duplicate key is causing the console to scream. I can't find any actual side effects
          selectedThingOneImg: '/img/blank.png',
          selectedThingTwo: '', //Duplicate key #2
          selectedThingTwoImg: '/img/blank.png',
          lockout: false, //Probably a better way to do this?
          thingsList: [
            {thingType: 'Fire', imgsrc: '/img/fire.png', unlocked: true, categoryFire: true},
            {thingType: 'Lava', imgsrc: '/img/lava.png', unlocked: false, categoryFire: true},
            {thingType: 'Volcano', imgsrc: '/img/volcano.png', unlocked: false, categoryFire: true},
            {thingType: 'Ash', imgsrc: '/img/ash.png', unlocked: false, categoryFire: true},
            
            {thingType: 'Water', imgsrc: '/img/water.png', unlocked: true, categoryWater: true},
            {thingType: 'Ocean', imgsrc: '/img/ocean.png', unlocked: false, categoryWater: true},
            {thingType: 'Swamp', imgsrc: '/img/swamp.png', unlocked: false, categoryWater: true},
            {thingType: 'Alcohol', imgsrc: '/img/alcohol.png', unlocked: false, categoryWater: true},

            {thingType: 'Air', imgsrc: '/img/air.png', unlocked: true, categoryAir: true},
            {thingType: 'Dust', imgsrc: '/img/dust.png', unlocked: false, categoryAir: true},
            {thingType: 'Steam', imgsrc: '/img/steam.png', unlocked: false, categoryAir: true},
            {thingType: 'Storm', imgsrc: '/img/storm.png', unlocked: false, categoryAir: true},
            
            {thingType: 'Earth', imgsrc: '/img/earth.png', unlocked: true, categoryEarth: true},
            {thingType: 'Stone', imgsrc: '/img/stone.png', unlocked: false, categoryEarth: true},
            {thingType: 'Sand', imgsrc: '/img/sand.png', unlocked: false, categoryEarth: true},
            {thingType: 'Crystal', imgsrc: '/img/crystal.png', unlocked: false, categoryEarth: true},
            
            {thingType: 'Energy', imgsrc: '/img/energy.png', unlocked: false, categoryAbstract: true},
            {thingType: 'Life', imgsrc: '/img/life.png', unlocked: false, categoryAbstract: true},
            {thingType: 'Egg', imgsrc: '/img/egg.png', unlocked: false, categoryAbstract: true},
            {thingType: 'Seeds', imgsrc: '/img/seeds.png', unlocked: false, categoryAbstract: true},

            {thingType: 'Tree', imgsrc: '/img/tree.png', unlocked: false, categoryPlants: true},
            {thingType: 'Seaweed', imgsrc: '/img/seaweed.png', unlocked: false, categoryPlants: true},
            {thingType: 'Cactus', imgsrc: '/img/cactus.png', unlocked: false, categoryPlants: true},
            {thingType: 'Moss', imgsrc: '/img/moss.png', unlocked: false, categoryPlants: true},
            
            {thingType: 'Bacteria', imgsrc: '/img/bacteria.png', unlocked: false, categoryAnimals: true},
            {thingType: 'Fish', imgsrc: '/img/fish.png', unlocked: false, categoryAnimals: true},
            {thingType: 'Bird', imgsrc: '/img/bird.png', unlocked: false, categoryAnimals: true},
            {thingType: 'Reptile', imgsrc: '/img/reptile.png', unlocked: false, categoryAnimals: true},

            {thingType: 'Mammal', imgsrc: '/img/mammal.png', unlocked: false, categoryAnimals2: true},
            {thingType: 'Whale', imgsrc: '/img/whale.png', unlocked: false, categoryAnimals2: true},
            {thingType: 'Primate', imgsrc: '/img/primate.png', unlocked: false, categoryAnimals2: true},
            {thingType: 'Domestic', imgsrc: '/img/domestic.png', unlocked: false, categoryAnimals2: true},

            {thingType: 'Human', imgsrc: '/img/human.png', unlocked: false, categoryHumans: true},
            {thingType: 'Drunk', imgsrc: '/img/drunk.png', unlocked: false, categoryHumans: true},
            {thingType: 'Corpse', imgsrc: '/img/corpse.png', unlocked: false, categoryHumans: true},
            {thingType: 'Disease', imgsrc: '/img/disease.png', unlocked: false, categoryHumans: true},
          ]
        },
      });
    </script>
  </body>
</html>