<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <meta charset="utf-8">
    <title>Vuedle God</title>
    <link rel="icon" type="image/ico" href="img/favicon.ico">
    <link rel="stylesheet" href="css/style.css">
    <meta name="description" content="Recreation of Doodle God in Vue">
  </head>

  <body>
    <div id="app">
      <div id="category-fire">
        <div v-for="thing in thingsList" v-if="thing.unlocked">
          <thing :thing-type="thing.thingType" :imgsrc="thing.imgsrc" v-if="thing.categoryFire"></thing>
        </div>
      </div>
      <div id="category-water">
        <div v-for="thing in thingsList" v-if="thing.unlocked">
          <thing :thing-type="thing.thingType" :imgsrc="thing.imgsrc" v-if="thing.categoryWater"></thing>
        </div>
      </div>  
      <div id="category-air">
        <div v-for="thing in thingsList" v-if="thing.unlocked">
          <thing :thing-type="thing.thingType" :imgsrc="thing.imgsrc" v-if="thing.categoryAir"></thing>
        </div>
      </div>
      <div id="category-earth">
        <div v-for="thing in thingsList" v-if="thing.unlocked">
          <thing :thing-type="thing.thingType" :imgsrc="thing.imgsrc" v-if="thing.categoryEarth"></thing>
        </div>
      </div>
      <div id="category-abstract">
        <div v-for="thing in thingsList" v-if="thing.unlocked">
          <thing :thing-type="thing.thingType" :imgsrc="thing.imgsrc" v-if="thing.categoryAbstract"></thing>
        </div>
      </div>
      <div id="category-plants">
        <div v-for="thing in thingsList" v-if="thing.unlocked">
          <thing :thing-type="thing.thingType" :imgsrc="thing.imgsrc" v-if="thing.categoryPlants"></thing>
        </div>
      </div>
      <div id="category-animals">
        <div v-for="thing in thingsList" v-if="thing.unlocked">
          <thing :thing-type="thing.thingType" :imgsrc="thing.imgsrc" v-if="thing.categoryAnimals"></thing>
        </div>
      </div>
      <div id="combine">
        <combining-thing :selected-thing="selectedThingOne" :imgsrc="selectedThingOneImg" :key="selectedThingOne"></combining-thing>
        <combining-thing :selected-thing="selectedThingTwo" :imgsrc="selectedThingTwoImg" :key="selectedThingTwo"></combining-thing>
      </div>
    </div>
    <script> 

      Vue.component('thing', {
        props:['thingType', 'imgsrc'],

        template: 
        '<div class="thing" v-on:click="addThing(thingName, imgurl)">\
          <img :src="imgurl" alt="thing_img" width="128px" height="128px">\
          <p>{{thingName}}</p>\
          </div>',

        data: function(){
          return{
            imgurl: this.imgsrc,
            thingName: this.thingType,
          }
        },
        methods:{
          addThing: function(selectedThing, selectedThingImg){
            if(app._data.selectedThingOne == ""){
              app._data.selectedThingOne = selectedThing;
              app._data.selectedThingOneImg = selectedThingImg;
            }else{
              app._data.selectedThingTwo = selectedThing;
              app._data.selectedThingTwoImg = selectedThingImg;
              combineThings();
              setTimeout(function(){
                app._data.selectedThingOne = "";
                app._data.selectedThingOneImg = "";
                app._data.selectedThingTwo = "";
                app._data.selectedThingTwoImg = "";
              }, 2000);
            }
          },
          searchImgsrc: function(thingType){
            console.log("test complete")
          }
        }
      });

      Vue.component('combining-thing',{
        props:['selectedThing', 'imgsrc'],

        template: 
        '<div class="combining-thing">\
          <img :src="imgurl" alt="combining_thing_img" width="128px" height="128px">\
          <p>{{thingName}}</p>\
          </div>',

        data: function(){
          return{
            imgurl: this.imgsrc,
            thingName: this.selectedThing,
          }
        },
      });


    function combineThings(){
      const thingCombo = app.selectedThingOne + app.selectedThingTwo;
      console.log(thingCombo)

      var newThing = null;
      switch(thingCombo){
        case 'FireEarth': case 'EarthFire':
          newThing = 'Lava'
          break;
          case 'LavaEarth': case 'EarthLava':
          newThing = 'Volcano'
          break;
          case 'AirEarth': case 'EarthAir':
          newThing = 'Dust'
          break;
          case 'EarthWater': case 'WaterEarth':
          newThing = 'Swamp'
          break;
          case 'AirFire': case 'FireAir':
          newThing = 'Energy'
          break;
          case 'AirWater': case 'WaterAir':
          newThing = 'Steam'
          break;
          case 'AirEnergy': case 'EnergyAir':
          newThing = 'Storm'
          break;
          case 'AirLava': case 'LavaAir':
          newThing = 'Stone'
          break;
          case 'FireWater': case 'WaterFire':
          newThing = 'Alcohol'
          break;
          case 'FireStone': case 'StoneFire':
          newThing = 'Metal'
          break;
          case 'AirStone': case 'StoneAir':
          newThing = 'Sand'
          break;
          case 'SandFire': case 'FireStone':
          newThing = 'Crystal'
          break;
          case 'SandSwamp': case 'SwampSand':
          newThing = 'Clay'
          break;
          case 'EnergySwamp': case 'SwampEnergy':
          newThing = 'Life'
          break;
      }
      if(newThing != null){
        app.thingsList.find(o => o.thingType === newThing).unlocked = true;
      }
    }

      var app = new Vue({
        el: '#app',
        data:{
          selectedThingOne: '',
          selectedThingOneImg: '',
          selectedThingTwo: '',
          selectedThingTwoImg: '',
          thingsList: [
            {thingType: 'Fire', imgsrc: '/img/fire.png', unlocked: true, categoryFire: true},
            {thingType: 'Earth', imgsrc: '/img/earth.png', unlocked: true, categoryEarth: true},
            {thingType: 'Water', imgsrc: '/img/water.png', unlocked: true, categoryWater: true},
            {thingType: 'Air', imgsrc: '/img/air.png', unlocked: true, categoryAir: true},
            {thingType: 'Lava', imgsrc: '/img/lava.png', unlocked: false, categoryFire: true},
            {thingType: 'Volcano', imgsrc: '/img/volcano.png', unlocked: false, categoryFire: true},
            {thingType: 'Dust', imgsrc: '/img/dust.png', unlocked: false, categoryAir: true},
            {thingType: 'Swamp', imgsrc: '/img/swamp.png', unlocked: false, categoryWater: true},
            {thingType: 'Energy', imgsrc: '/img/energy.png', unlocked: false, categoryAbstract: true},
            {thingType: 'Steam', imgsrc: '/img/steam.png', unlocked: false, categoryAir: true},
            {thingType: 'Storm', imgsrc: '/img/storm.png', unlocked: false, categoryAir: true},
            {thingType: 'Stone', imgsrc: '/img/stone.png', unlocked: false, categoryEarth: true},
            {thingType: 'Alcohol', imgsrc: '/img/alcohol.png', unlocked: false, categoryWater: true},
            {thingType: 'Metal', imgsrc: '/img/metal.png', unlocked: false, categoryEarth: true},
            {thingType: 'Sand', imgsrc: '/img/sand.png', unlocked: false, categoryEarth: true},
            {thingType: 'Crystal', imgsrc: '/img/glass.png', unlocked: false, categoryEarth: true},
            {thingType: 'Clay', imgsrc: '/img/clay.png', unlocked: false, categoryEarth: true},
            {thingType: 'Life', imgsrc: '/img/life.png', unlocked: false, categoryAbstract: true},
          ]
        },
      });
    </script>
  </body>
</html>